*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
}

.BT1{
    width: 25%;
    background-color: #227D1F;
    border-radius: 10px;
    transition: all .5s; 
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}

.BT1 img{
    width: 50%;
    object-fit: scale-down;
}

.BT1:hover{
    background-color: #219CAC;
    transition: all .5s;
}